.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert_main{min-height: 46px;}
.alert_main .alert{padding: 10px 15px;}
.bg-dark{background: #031b3f !important;}
.bg-light{background: #eaf2fb !important;}
.btn.btn-primary, .btn.btn-info{margin:5px 10px 5px 0px; padding: 8px 16px;}
.btn.btn-info{margin-right:0px;}
.sammery_pera p{padding: 6px 12px; background: rgb(0 0 0 / 50%); color: #fff; border-radius: 3px; margin-right: 10px;}
.preview_text{padding: 10px 15px; border-radius: 5px;}
.img_full_width{width: 100%;}
